<div class="container">
    <div class="row">
        <h1 class="col-md-12 display-4">{{candidate.firstName}} {{candidate.lastName}} <a [routerLink]="['/candidateEdit']" class="btn btn-outline-warning btn-sm">edit</a></h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img [src]="user.pictureURL" alt="" class="img-fluid">
            <hr>
            <div class="card">
                <h5 class="card-header">Touchpoints</h5>
                <table class="table table-sm">
                    <ng-container *ngIf="false">
                        <tr>
                            <td bgcolor="#005554"></td>
                            <td>10/29/17</td>
                            <td><a href="#">Hired</a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#009895"></td>
                            <td>9/22/17</td>
                            <td><a href="#">Offer</a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#00bfbb"></td>
                            <td>8/27/17</td>
                            <td><a href="#">Exp. Processed</a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#00bfbb"></td>
                            <td>7/15/17</td>
                            <td><a href="#">Interview</a></td>
                        </tr>
                        <tr>
                            <td bgcolor="#666666"></td>
                            <td>04/19/17</td>
                            <td><a href="#">OCI</a></td>
                        </tr>
                    </ng-container>
                </table>
                <ng-container *ngIf="true">
                    <p class="text-center"><b>No records to display.</b></p>
                </ng-container>
            </div><br>
        </div>

        <div class="col-md-5">
            <div class="card">
                <h5 class="card-header">Candidate</h5>
                <table class="table table-sm table-hover">
                    <tr>
                        <th>First Name:</th>
                        <td>{{candidate.firstName}}</td>
                    </tr>
                    <tr>
                        <th width="160px">Last Name:</th>
                        <td>{{candidate.lastName}}</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>{{candidate.email}}</td>
                    </tr>
                    <tr>
                        <th>Home Phone:</th>
                        <td>{{candidate.phone}}</td>
                    </tr>
                    <tr>
                        <th>Mobile Phone:</th>
                        <td>{{candidate.mobile}}</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>{{candidate.address}}</td>
                    </tr>
                    <tr>
                        <th>School:</th>
                        <td>{{candidate.lawSchool}}</td>
                    </tr>
                    <tr>
                        <th>Class Of:</th>
                        <td>{{candidate.classOf}}</td>
                    </tr>
                    <tr>
                        <th>Undergrad: </th>
                        <td>{{candidate.underGraduate}}</td>
                    </tr>
                    <tr>
                        <th>Area Of Expertise:</th>
                        <td></td>
                    </tr>
                </table>
            </div><br>
        </div>
        <div class="col-md-4">

            <div class="card">
                <h5 class="card-header">Participating Firms</h5>
                <div class="card-block">
                    <table class="table table-sm">
                        <ng-container *ngIf="false">
                            <tr>
                                <td><a href="">Paul, Weiss, Rifkind, Wharton & Garrison LLP</a></td>
                            </tr>
                            <tr>
                                <td><a href="">Quinn Emanuel Urquhart & Sullivan, LLP</a></td>
                            </tr>
                            <tr>
                                <td><a href="">Wachtell, Lipton, Rosen & Katz</a></td>
                            </tr>
                        </ng-container>
                    </table>
                    <ng-container *ngIf="true">
                        <p class="text-center"><b>No records to display.</b></p>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <!-- Close Row -->
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Summary of Expenses
                    <span class="float-right">
								<!--<a class="btn btn-sm btn-outline-success">Preview NALP Form</a>
								<a href="" class="btn btn-sm btn-outline-danger">Reimburse Candidate: $41.39</a>-->
								<a [routerLink]="['/expenses']"
                                class="btn btn-sm btn-outline-warning ">Add Expense</a>
							</span>
                </h5>
                <table class="table table-bordered table-sm">
                    <tr>
                        <th></th>
                        <th>Air/Rail</th>
                        <th>Hotel</th>
                        <th>Out Of Pocket</th>
                    </tr>
                    <ng-container *ngIf="expression; then thenBlock; else elseBlock"></ng-container>
                    <ng-container *ngIf="false">
                        <tr>
                            <th class="exp_table_head">ROPES</th>
                            <td align="right">$533.98</td>
                            <td align="right">$133.51</td>
                            <td align="right">$133.49</td>
                        </tr>
                        <tr>
                            <th class="exp_table_head">PAULWEISS</th>
                            <td align="right">$1179.86</td>
                            <td align="right">$294.98</td>
                            <td align="right">$294.96</td>
                        </tr>
                        <tr>
                            <th class="exp_table_head">QUINN</th>
                            <td align="right">$172.70</td>
                            <td align="right">$43.22</td>
                            <td align="right">$43.16</td>
                        </tr>
                        <tr>
                            <th class="exp_table_head">WACHTELL</th>
                            <td align="right" class="success"> $1886.54 </td>
                            <td align="right" class="success"> $471.71 </td>
                            <td align="right" class="success"> $471.61 </td>
                        </tr>
                        <tr>
                            <th class="exp_table_head">Total</th>
                            <td align="right" class="success"><strong>$1886.54</strong></td>
                            <td align="right" class="success"><strong>$471.71</strong></td>
                            <td align="right" class="success"><strong>$471.61</strong></td>
                        </tr>
                    </ng-container>
                </table>
                <ng-container *ngIf="true">
                    <p class="text-center"><b>No records to display.</b></p>
                </ng-container>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Expense Details/Status</h5>
                <!-- <p>Approved Candidate Reimbursement: $1316.37</p> -->
                <table class="table table-sm table-bordered table-hover">
                    <tr>
                        <th></th>
                        <th class="exp_table_head_c">DATE</th>
                        <th class="exp_table_head_c">TYPE</th>
                        <th class="exp_table_head">TOTAL</th>
                        <th class="exp_table_head">ROPES</th>
                        <th class="exp_table_head">PAULWEISS</th>
                        <th class="exp_table_head">QUINN</th>
                        <th class="exp_table_head">WACHTELL</th>
                        <th class="exp_table_head">BILLED</th>
                        <th class="exp_table_head_c">STATUS</th>
                    </tr>
                    <ng-container *ngIf="false">
                        <tr>
                            <td align="center">
                                <span>
                                    <a href="" class="btn btn-outline-warning btn-xs" alt="edit" title="edit">edit</a>
                                </span>
                            </td>
                            <td>09/06/2016</td>
                            <td>Air/Rail</td>
                            <td align="right">$533.98</td>
                            <td align="right">$133.51</td>
                            <td align="right">$133.49</td>
                            <td align="right">$133.49</td>
                            <td align="right">$133.49</td>
                            <td align="right">$400.47</td>
                            <td class="success" align="center">
                                <a href="">Approved</a>
                            </td>
                        </tr>
                    </ng-container>
                </table>
                <ng-container *ngIf="true">
                    <p class="text-center"><b>No records to display.</b></p>
                </ng-container>
            </div>
        </div>
    </div>
</div>
