<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top" style="background-color: #0a4a7c;">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

    <a class="navbar-brand" href="">
      <img src="../assets/images/rs-logo.png" class="img-responsive logo" width="180px" alt="Ultramar RecruitSync" border="0"></a>

    <div class="collapse navbar-collapse" *ngIf="authentication.isAuthenticated()">
      <ul class="navbar-nav mr-auto" style="margin-top:5px;">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['candidatedetail']">
  Candidates </a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link" [routerLink]="['expenses']">
            Manage Expenses</a>
          </li>-->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search"> -->
        <button class="btn btn-outline-secondary btn-sm my-2 my-sm-0" (click)="authentication.logout()" type="submit">Log Out</button>&nbsp;
        <a href="#" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#helpModal">?</a>
      </form>
    </div>
  </div>
</nav>

<main data-ng-class="{'page-wrapper': authentication.isAuthenticated() ,'': !authentication.isAuthenticated() }">
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="row footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <strong>Ultramar Travel Management</strong><br> 14 East 47th Street<br> New York, NY 10017-1905<br> Phone: 888.856.2929<br>          Fax: 212.856.0129<br>
        </div>
        <div class="col-md-6 text-right">
          RecruitSync Help<br> Book Travel for Firm<br> Book Travel for Candidate<br><br> Privacy Policy<br>
        </div>
      </div>
    </div>
  </div>
</footer>
