<div class="login_wrapper">
  <section class="login_content">
    <form>
      <h1>Login With</h1>
      <div>
        <button class="btn btn-google" (click)="authentication.googleLogin()"><i class="fa fa-google"></i></button>
        <button class="btn btn-yahoo" (click)="authentication.yahooLogin()"><i class="fa fa-yahoo"></i></button>
      </div>
      <div class="clearfix"></div>
      <div class="separator">
        <p class="change_link">
          Or
        </p>
      </div>
      <div>
        <input type="text" class="form-control" placeholder="Username" required/>
      </div>
      <div>
        <input type="password" class="form-control" placeholder="Password" required/>
      </div>
      <div class="text-right">
        <button class="btn btn-primary" (click)="signin()">Sign in</button>
        <button class="btn btn-warning" [routerLink]="['/signup']">Sign up</button>
      </div>
    </form>
  </section>
</div>
