<div class="login_wrapper">
  <section class="login_content">
    <form>
      <h1>Create Account</h1>
      <div>
        <input type="text" class="form-control" placeholder="Username" required="" />
      </div>
      <div>
        <input type="email" class="form-control" placeholder="Email" required="" />
      </div>
      <div>
        <input type="password" class="form-control" placeholder="Password" required="" />
      </div>
      <div class="text-right">
        <button class="btn btn-primary" (click)="signup()">Register</button>
        <button class="btn btn-warning" [routerLink]="['/signin']">Sign In</button>
      </div>

    </form>
  </section>
</div>
